<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>E-maquis</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="newAssets/css/login.css" />

    <link
      rel="shortcut icon"
      href="newAssets/images/logo/emaquisLogo2.png"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="newAssets/images/logo/emaquisLogo2.png"
      type="image/x-icon"
    />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  </head>

  <body>
    <div class="wrapper">
      <form action="">
        <a href="/"
          ><img
            src="newAssets/images/logo/emaquisLogo2.png"
            width="100"
            alt=""
            srcset=""
        /></a>
        <h1>Mot de passe oublié</h1>

        <div
          class="alert alert-success animSuccessConnect"
          role="alert"
          style="
            text-align: center;
            margin-top: 1rem;
            padding: 0.5rem;
            display: none;
          "
          id="alert-success"
        >
          Nous avons envoyé un message sur votre mail pour confirmer la
          réinitialisation de votre mot de passe
        </div>
        <div
          class="alert alert-danger animFailConnect"
          role="alert"
          style="
            text-align: center;
            margin-top: 1rem;
            padding: 0.5rem;
            display: none;
          "
          id="alert-danger"
        >
          Email incorrect ou inexistant
        </div>

        <div class="input-box">
          <input type="text" placeholder="Email" name="email" required />
          <span class="icon flaticon-user"></span>
        </div>

        <button type="submit" class="btn">Envoyer</button>
      </form>
    </div>

    <!-- JAVASCRIPTS -->
    <script src="plugins/jquery/jquery.min.js"></script>

    <script src="js/script.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      const socket = io(window.location.origin + window.location.pathname);
      console.log(window.location.origin + window.location.pathname);

      $("form").on("submit", e => {
        e.preventDefault();
        const data = {
          email: $('input[name="email"]').val(),
        };

        document.querySelector("#alert-success").style.display = "none";
        document.querySelector("#alert-danger").style.display = "none";

        const input = document.querySelector("input");
        const btn = document.querySelector(".btn");
        console.log("🚀 ~ file: forgot_password.ejs:93 ~ data:", data);

        const emailRegex = new RegExp(
          /^[a-zA-Z0-9. _-]+@[a-zA-Z0-9. -]+\.[a-zA-Z]{2,4}$/
        );

        console.log(!emailRegex.test(data.email));

        if (!emailRegex.test(data.email)) {
          if (input) {
            input.classList.add("shake");
            input.style.display = "block";
            input.style.border = "1px solid red";

            setTimeout(() => {
              input.classList.remove("shake");
            }, 500);
          }

          return;
        }

        input.style.border = "1px solid #ccc";

        btn.innerHTML = "Envoi en cours...";
        btn.disabled = true;

        const resetButton = () => {
          btn.innerHTML = "Envoyer";
          btn.disabled = false;
        };

        fetch("/forgot_password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then(res => res.json())
          .then(r => {
            console.log("🚀 ~ file: forgot_password.ejs:123 ~ r", r);
            if (r.success) {
              resetButton();
              document.querySelector("#alert-success").style.display = "block";
              document
                .querySelector("#alert-success")
                .classList.add("success-animation");
              document.querySelector("#alert-danger").style.display = "none";
            } else {
              resetButton();
              document.querySelector("#alert-danger").innerHTML = r.message;
              document.querySelector("#alert-danger").style.display = "block";
              document.querySelector("#alert-danger").classList.add("shake");
            }
          });
      });

      // Supprimez la classe 'shake' lorsque l'animation est terminée
      document
        .querySelector(".animFailConnect")
        .addEventListener("animationend", () => {
          document.querySelector(".animFailConnect").classList.remove("shake");
        });
    </script>
  </body>
</html>
