<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="E-maquis, Gestionnaire d'établissement" />
    <meta name="author" content="Haut Numérique et Médias" />
    <meta name="keywords" content="E-maquis, Gestionnaire d'établissement" />
    <meta name="generator" content="E-maquis, Gestionnaire d'établissement" />
    <title>E-maquis</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="newAssets/css/login.css" />

    <link
      rel="shortcut icon"
      href="newAssets/images/logo/emaquisLogo2.png"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="newAssets/images/logo/emaquisLogo2.png"
      type="image/x-icon"
    />
    <link href="newAssets/css/bootstrap.css" rel="stylesheet" />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <style>
      .container {
        margin-top: 1rem;
      }
      h4 {
        text-align: center;
      }
    </style>

    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  </head>

  <body>
    <div class="wrapper">
      <% if(locals.message) { %>
      <div
        class="alert alert-<%=locals.success ?"success":"danger"%>"
        role="alert"
        style="text-align: center"
        id="alert-success"
      >
        <%=locals.message%>
      </div>
      <% } %>
     

      <form action="" method="post">
        <div class="auto-container">
          <div>
            <a href="/"
              ><img
                src="newAssets/images/logo/emaquisLogo2.png"
                width="100"
                alt=""
                srcset=""
            /></a>
          </div>
          <h4>Réinitialisation Mot de passe</h4>

          <div class="container">
            <div class="input-box">
              <input
                type="password"
                placeholder="Nouveau Mot de passe"
                name="password"
                required
              />
              <span class="icon flaticon-user"></span>
            </div>

            <div class="input-box">
              <input
                type="password"
                placeholder="confirmer le mot de passe"
                name="confirm_password"
                required
              />
              <span class="icon flaticon-user"></span>
            </div>

            <input 
              type="hidden"
              name="token"
              value="<%=locals.token%>"
            />
          </div>
        </div>

        <div class="row clearfix justify-content-center align-items-center">
          <button type="submit" class="btn">Réinitialiser</button>
        </div>
      </form>
    </div>

    <!-- JAVASCRIPTS -->
    <script src="../jquery-3.4.1.min.js"></script>
    <script src="../emaquisjs/emaquis.js"></script>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../plugins/slick/slick.min.js"></script>
    <script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="../plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="../plugins/aos/aos.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    <script src="../plugins/google-map/gmap.js"></script>

    <script src="../js/script.js"></script>

    <script src="/socket.io/socket.io.js "></script>
    <script>

      const isSucces = JSON.stringify(<%=locals.success%>);

      if(isSucces === "true") {
       setTimeout(() => {
        window.location.href = "/connexion";
       }, 3000);
      }
   
     
</script>
    <script src="../js/helperMano.js"></script>
  </body>
</html>
