.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2fd8f2;
  box-shadow: 5px 5px 0 black;
  padding: 8px 20px;
  border: none;
  transform: skewX(-15deg);
  transition: 0.4s ease;
}

.cta a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transform: skewX(15deg);
  white-space: nowrap;
}

.cta:hover {
  box-shadow: 6px 6px 0 #fbc638;
}

.cta .second {
  display: inline-flex;
  margin-left: 10px;
  transition: margin 0.3s ease;
}

.cta:hover .second {
  margin-left: 16px;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .cta {
    padding: 8px 14px;
  }

  .cta a {
    font-size: 14px;
  }

  .cta .second svg {
    width: 14px;
    height: 14px;
  }
}

.emRole {
  background-color: #2fd8f2;
  padding: auto;
  align-items: center;
  font-size: 12px;
}
