<button class="cta">
  <a href="/retournerproduit">
    <span class="span">Enregistrer un retour </span>
    <span class="second">
      <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none">
        <path d="M8 5l8 7-8 7" stroke="#FFFFFF" stroke-width="2" fill="none" />
      </svg>
    </span>
  </a>
</button>
