<!--Bootstrap modal center with title and input for amount min 100 and button success validate global with form to validate min-->
<!-- Path: views/partial/donateModal.ejs -->

<div
  class="modal fade"
  id="donateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="donateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="donateModalLabel">
          Faites un don et voyez votre impact grandir avec notre application !
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/donate" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="amount">Montant (FCFA)</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              name="amount"
              min="100"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Fermer
          </button>
          <button type="submit" class="btn btn-success">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const lastModalDate = localStorage.getItem("lastModalDate");

  const formatNumber = (number) => {
    return number < 10 ? "0" + number : number;
  };

  const autoShowModal = () => {
    console.log("autoShowModal");
    const href = window.location.href;
    const lastPath = href.split("/").pop();
    const totalOrderValidate = "<%=locals.totalVentesValidate%>";
    const pagesNotToDisplayModal = [
      "connexion",
      "inscription",
      "donate-success",
      "donate-error",
    ];

    if (
      !lastPath ||
      pagesNotToDisplayModal.includes(lastPath) ||
      isNaN(totalOrderValidate) ||
      Number(totalOrderValidate) < 10
    ) {
      return;
    }

    if (!lastModalDate) {
      $("#donateModal").modal("show");
      localStorage.setItem("lastModalDate", new Date());
    } else {
      const lastModalDateObj = new Date(lastModalDate);
      const currentDate = new Date();
      const dateFormat =
        formatNumber(currentDate.getDate()) +
        "/" +
        formatNumber(currentDate.getMonth() + 1) +
        "/" +
        currentDate.getFullYear();
      const lastModalDateFormat =
        formatNumber(lastModalDateObj.getDate()) +
        "/" +
        formatNumber(lastModalDateObj.getMonth() + 1) +
        "/" +
        lastModalDateObj.getFullYear();

      if (lastModalDateFormat !== dateFormat) {
        $("#donateModal").modal("show");
        localStorage.setItem("lastModalDate", new Date());
      }
    }
  };
  autoShowModal();
  setInterval(autoShowModal, 5 * 60 * 1000);
</script>

<!--Bootstrap modal with title and input for amount and button validate-->
